<%- include("header") -%>

<section id="entree">
	<div class="menu container-fluid">
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="product-top">
					<img src="entreeimg/cheesestick.jpg" alt="" />
				</div>
				<div class="product-bottom text-center">
					<h3>Cheese Sticks (6 Pieces)</h3>
					<h5>20 HKD</h5>
					<form class="" action="/" method="post">
						<button
							type="submit"
							name="newOrder"
							value="Cheese Sticks"
							class="btn btn-light"
							title="Add to Cart"
						>
							<i class="fa fa-plus-circle"></i>
						</button>
					</form>
				</div>
			</div>

			<div class="col-md-3 col-sm-6">
				<div class="product-top">
					<img src="entreeimg/croquettes.jpg" alt="" />
				</div>
				<div class="product-bottom text-center">
					<h3>Croquettes (3 Pieces)</h3>
					<h5>24 HKD</h5>
					<form class="" action="/" method="post">
						<button
							type="submit"
							name="newOrder"
							value="Croquettes"
							class="btn btn-light"
							title="Add to Cart"
						>
							<i class="fa fa-plus-circle"></i>
						</button>
					</form>
				</div>
			</div>

			<div class="col-md-3 col-sm-6">
				<div class="product-top">
					<img src="entreeimg/garlicbread.jpg" alt="" />
				</div>
				<div class="product-bottom text-center">
					<h3>Garlic Bread</h3>
					<h5>18 HKD</h5>
					<form class="" action="/" method="post">
						<button
							type="submit"
							name="newOrder"
							value="Garlic Bread"
							class="btn btn-light"
							title="Add to Cart"
						>
							<i class="fa fa-plus-circle"></i>
						</button>
					</form>
				</div>
			</div>

			<div class="col-md-3 col-sm-6">
				<div class="product-top">
					<img src="entreeimg/skewers.jpg" alt="" />
				</div>

				<div class="product-bottom text-center">
					<h3>Kebab Skewers</h3>
					<h5>30 HKD</h5>
					<form class="" action="/" method="post">
						<button
							type="submit"
							name="newOrder"
							value="Kebab Skewers"
							class="btn btn-light"
							title="Add to Cart"
						>
							<i class="fa fa-plus-circle"></i>
						</button>
					</form>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="product-top">
					<img src="entreeimg/sliders.jpg" alt="" />
				</div>
				<div class="product-bottom text-center">
					<h3>Sliders (3 Pieces)</h3>
					<h5>30 HKD</h5>
					<form class="" action="/" method="post">
						<button
							type="submit"
							name="newOrder"
							value="Sliders"
							class="btn btn-light"
							title="Add to Cart"
						>
							<i class="fa fa-plus-circle"></i>
						</button>
					</form>
				</div>
			</div>

			<div class="col-md-3 col-sm-6">
				<div class="product-top">
					<img src="entreeimg/springrolls.jpg" alt="" />
				</div>
				<div class="product-bottom text-center">
					<h3>Spring Rolls</h3>
					<h5>29 HKD</h5>
					<form class="" action="/" method="post">
						<button
							type="submit"
							name="newOrder"
							value="Spring Rolls"
							class="btn btn-light"
							title="Add to Cart"
						>
							<i class="fa fa-plus-circle"></i>
						</button>
					</form>
				</div>
			</div>

			<div class="col-md-3 col-sm-6">
				<div class="product-top">
					<img src="entreeimg/tacos.jpg" alt="" />
				</div>
				<div class="product-bottom text-center">
					<h3>Tacos</h3>
					<h5>32 HKD</h5>
					<form class="" action="/" method="post">
						<button
							type="submit"
							name="newOrder"
							value="Tacos"
							class="btn btn-light"
							title="Add to Cart"
						>
							<i class="fa fa-plus-circle"></i>
						</button>
					</form>
				</div>
			</div>

			<div class="col-md-3 col-sm-6">
				<div class="product-top">
					<img src="entreeimg/wedges.jpg" alt="" />
				</div>

				<div class="product-bottom text-center">
					<h3>Potato Wedges</h3>
					<h5>26 HKD</h5>
					<form class="" action="/" method="post">
						<button
							type="submit"
							name="newOrder"
							value="Potato Wedges"
							class="btn btn-light"
							title="Add to Cart"
						>
							<i class="fa fa-plus-circle"></i>
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="maincourse">
	<div class="menu container-fluid">
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="product-top">
					<img src="mainimg/burger.jpg" alt="" />
				</div>
				<div class="product-bottom text-center">
					<h3>Burger</h3>
					<h5>35 HKD</h5>
					<form class="" action="/" method="post">
						<button
							type="submit"
							name="newOrder"
							value="Burger"
							class="btn btn-light"
							title="Add to Cart"
						>
							<i class="fa fa-plus-circle"></i>
						</button>
					</form>
				</div>
			</div>

			<div class="col-md-3 col-sm-6">
				<div class="product-top">
					<img src="mainimg/chicken.jpg" alt="" />
				</div>
				<div class="product-bottom text-center">
					<h3>Chicken Steak</h3>
					<h5>36 HKD</h5>
					<form class="" action="/" method="post">
						<button
							type="submit"
							name="newOrder"
							value="Chicken Steak"
							class="btn btn-light"
							title="Add to Cart"
						>
							<i class="fa fa-plus-circle"></i>
						</button>
					</form>
				</div>
			</div>

			<div class="col-md-3 col-sm-6">
				<div class="product-top">
					<img src="mainimg/fishnchips.jpg" alt="" />
				</div>
				<div class="product-bottom text-center">
					<h3>Fish & Chips</h3>
					<h5>36 HKD</h5>
					<form class="" action="/" method="post">
						<button
							type="submit"
							name="newOrder"
							value="Fish & Chips"
							class="btn btn-light"
							title="Add to Cart"
						>
							<i class="fa fa-plus-circle"></i>
						</button>
					</form>
				</div>
			</div>

			<div class="col-md-3 col-sm-6">
				<div class="product-top">
					<img src="mainimg/pizza.jpg" alt="" />
				</div>

				<div class="product-bottom text-center">
					<h3>Pizza</h3>
					<h5>40 HKD</h5>
					<form class="" action="/" method="post">
						<button
							type="submit"
							name="newOrder"
							value="Pizza"
							class="btn btn-light"
							title="Add to Cart"
						>
							<i class="fa fa-plus-circle"></i>
						</button>
					</form>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="product-top">
					<img src="mainimg/ribeye.jpg" alt="" />
				</div>
				<div class="product-bottom text-center">
					<h3>Ribeye Steak</h3>
					<h5>44 HKD</h5>
					<form class="" action="/" method="post">
						<button
							type="submit"
							name="newOrder"
							value="Ribeye Steak"
							class="btn btn-light"
							title="Add to Cart"
						>
							<i class="fa fa-plus-circle"></i>
						</button>
					</form>
				</div>
			</div>

			<div class="col-md-3 col-sm-6">
				<div class="product-top">
					<img src="mainimg/salmon.jpg" alt="" />
				</div>
				<div class="product-bottom text-center">
					<h3>Salmon Steak</h3>
					<h5>43 HKD</h5>
					<form class="" action="/" method="post">
						<button
							type="submit"
							name="newOrder"
							value="Salmon Steak"
							class="btn btn-light"
							title="Add to Cart"
						>
							<i class="fa fa-plus-circle"></i>
						</button>
					</form>
				</div>
			</div>

			<div class="col-md-3 col-sm-6">
				<div class="product-top">
					<img src="mainimg/sandwich.jpg" alt="" />
				</div>
				<div class="product-bottom text-center">
					<h3>Club Sandwich</h3>
					<h5>34 HKD</h5>
					<form class="" action="/" method="post">
						<button
							type="submit"
							name="newOrder"
							value="Club Sandwich"
							class="btn btn-light"
							title="Add to Cart"
						>
							<i class="fa fa-plus-circle"></i>
						</button>
					</form>
				</div>
			</div>

			<div class="col-md-3 col-sm-6">
				<div class="product-top">
					<img src="mainimg/spaghetti.jpg" alt="" />
				</div>

				<div class="product-bottom text-center">
					<h3>Spaghetti</h3>
					<h5>36 HKD</h5>
					<form class="" action="/" method="post">
						<button
							type="submit"
							name="newOrder"
							value="Spaghetti"
							class="btn btn-light"
							title="Add to Cart"
						>
							<i class="fa fa-plus-circle"></i>
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="dessert">
	<div class="menu container-fluid">
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="product-top">
					<img src="dessertimg/brownies.jpg" alt="" />
				</div>
				<div class="product-bottom text-center">
					<h3>Brownies</h3>
					<h5>22 HKD</h5>
					<form class="" action="/" method="post">
						<button
							type="submit"
							name="newOrder"
							value="Brownies"
							class="btn btn-light"
							title="Add to Cart"
						>
							<i class="fa fa-plus-circle"></i>
						</button>
					</form>
				</div>
			</div>

			<div class="col-md-3 col-sm-6">
				<div class="product-top">
					<img src="dessertimg/icecream.jpg" alt="" />
				</div>
				<div class="product-bottom text-center">
					<h3>Ice Cream</h3>
					<h5>20 HKD</h5>
					<form class="" action="/" method="post">
						<button
							type="submit"
							name="newOrder"
							value="Ice Cream"
							class="btn btn-light"
							title="Add to Cart"
						>
							<i class="fa fa-plus-circle"></i>
						</button>
					</form>
				</div>
			</div>

			<div class="col-md-3 col-sm-6">
				<div class="product-top">
					<img src="dessertimg/pudding.jpg" alt="" />
				</div>
				<div class="product-bottom text-center">
					<h3>Caramel Pudding</h3>
					<h5>18 HKD</h5>
					<form class="" action="/" method="post">
						<button
							type="submit"
							name="newOrder"
							value="Caramel Pudding"
							class="btn btn-light"
							title="Add to Cart"
						>
							<i class="fa fa-plus-circle"></i>
						</button>
					</form>
				</div>
			</div>

			<div class="col-md-3 col-sm-6">
				<div class="product-top">
					<img src="dessertimg/cheesecake.jpg" alt="" />
				</div>

				<div class="product-bottom text-center">
					<h3>Cheesecake</h3>
					<h5>24 HKD</h5>
					<form class="" action="/" method="post">
						<button
							type="submit"
							name="newOrder"
							value="Cheesecake"
							class="btn btn-light"
							title="Add to Cart"
						>
							<i class="fa fa-plus-circle"></i>
						</button>
					</form>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="product-top">
					<img src="dessertimg/apple pie.jpg" alt="" />
				</div>
				<div class="product-bottom text-center">
					<h3>Apple Pie</h3>
					<h5>22 HKD</h5>
					<form class="" action="/" method="post">
						<button
							type="submit"
							name="newOrder"
							value="Apple Pie"
							class="btn btn-light"
							title="Add to Cart"
						>
							<i class="fa fa-plus-circle"></i>
						</button>
					</form>
				</div>
			</div>

			<div class="col-md-3 col-sm-6">
				<div class="product-top">
					<img src="dessertimg/cremebrulee.jpg" alt="" />
				</div>
				<div class="product-bottom text-center">
					<h3>Creme Brulee</h3>
					<h5>28 HKD</h5>
					<form class="" action="/" method="post">
						<button
							type="submit"
							name="newOrder"
							value="Creme Brulee"
							class="btn btn-light"
							title="Add to Cart"
						>
							<i class="fa fa-plus-circle"></i>
						</button>
					</form>
				</div>
			</div>

			<div class="col-md-3 col-sm-6">
				<div class="product-top">
					<img src="dessertimg/banana split.jpg" alt="" />
				</div>
				<div class="product-bottom text-center">
					<h3>Banana Split</h3>
					<h5>30 HKD</h5>
					<form class="" action="/" method="post">
						<button
							type="submit"
							name="newOrder"
							value="Banana Split"
							class="btn btn-light"
							title="Add to Cart"
						>
							<i class="fa fa-plus-circle"></i>
						</button>
					</form>
				</div>
			</div>

			<div class="col-md-3 col-sm-6">
				<div class="product-top">
					<img src="dessertimg/macaroons.jpg" alt="" />
				</div>

				<div class="product-bottom text-center">
					<h3>Macaroons(6 Pieces)</h3>
					<h5>24 HKD</h5>
					<form class="" action="/" method="post">
						<button
							type="submit"
							name="newOrder"
							value="Macaroons"
							class="btn btn-light"
							title="Add to Cart"
						>
							<i class="fa fa-plus-circle"></i>
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

<%- include("footer") -%>
